<a href="https://colab.research.google.com/github/ujs/open_data/blob/master/Yelp_open_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Importing libraries
import numpy as np
import pandas as pd
import os
import json
import matplotlib.pyplot as plt

## Data Wrangling 
Extracting data from JSON into CSV format.

In [28]:
def json_to_csv (filename, create_sample = False):
  '''converts given json file to csv'''
  json_data = []
  with open(filename, encoding = "utf8") as file:
    for line in file:
      json_data.append(json.loads(line.rstrip()))
  
  # since, each observation in the json_data list is a nested dictionary, we need to use 'from_dict'
  df = pd.DataFrame.from_dict(json_data)
  
  csvFileName = filename[:len(filename)-5] + '.csv'
  df.to_csv(csvFileName)
  print('{0} created'.format(csvFileName))

  if create_sample == True:
    np.random.seed(0)
    mask = np.random.rand(len(df)) <= 0.1
    sample = df[mask]
    sampleFileName = filename[:len(filename)-5] + '_sample.csv'

    sample.to_csv(sampleFileName)
    print('sample file, {0} created'.format(csvFileName))
    return df, sampleFileName

  else: return df,csvFileName

#testing function
filename = "/content/yelp_academic_dataset_business.json"
df_business, csvname_business = json_to_csv (filename)
df_business.head()

/content/yelp_academic_dataset_business.csv created

              business_id  ...                                              hours
0  f9NumwFMBDn751xgFiRbNA  ...  {'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...
1  Yzvjg0SayhoZgCljUJRF9Q  ...                                               None
2  XNoUzKckATkOD1hP6vghZg  ...                                               None
3  6OAZjbxqM5ol29BuHsil3w  ...  {'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...
4  51M2Kk903DFYI6gnB5I6SQ  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...

[5 rows x 14 columns]

In [49]:
#Understanding the basics of business data

print('Number of features in business object: ', len(df_business.columns))
print('Features of the business: ', df_business.columns)
d_type_business = {i:df_business[i].dtype for i in df_business.columns}
print("Data type for each feature: ", d_types_business)

Number of features in business object:  14
Features of the business:  Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')
Data type for each feature:  {'business_id': dtype('O'), 'name': dtype('O'), 'address': dtype('O'), 'city': dtype('O'), 'state': dtype('O'), 'postal_code': dtype('O'), 'latitude': dtype('float64'), 'longitude': dtype('float64'), 'stars': dtype('float64'), 'review_count': dtype('int64'), 'is_open': dtype('int64'), 'attributes': dtype('O'), 'categories': dtype('O'), 'hours': dtype('O')}

In [50]:
df_business.describe

<bound method NDFrame.describe of                    business_id  ...                                              hours
0       f9NumwFMBDn751xgFiRbNA  ...  {'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...
1       Yzvjg0SayhoZgCljUJRF9Q  ...                                               None
2       XNoUzKckATkOD1hP6vghZg  ...                                               None
3       6OAZjbxqM5ol29BuHsil3w  ...  {'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...
4       51M2Kk903DFYI6gnB5I6SQ  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...
...                        ...  ...                                                ...
209388  9Q0fPWAjUweoFDk0kafuzQ  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
209389  PotiAhtDMYMNsJCzV0oLAw  ...                                               None
209390  SYa2j1boLF8DcGVOYfHPcA  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
209391  RSSIsgO00OuWQTRoITacpA  ...  {'Monday': '0:0-0:0', 'Tuesday': '7:0-19:0', '...
209392  tOcYmewXFhQeZh3V42ymwg  ...  {'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ...

[209393 rows x 14 columns]>